<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>images/bird-9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {94, 69}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{94, 69}</string>
<key>spriteSourceSize</key>
<string>{94, 69}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{1, 1}, {94, 69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{96, 1}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{172, 1}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{1, 71}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{1, 155}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{77, 85}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{77, 169}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{153, 85}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>images/bird-8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteColorRect</key>
<string>{{0, 0}, {75, 83}}</string>
<key>spriteOffset</key>
<string>{0, 0}</string>
<key>spriteSize</key>
<string>{75, 83}</string>
<key>spriteSourceSize</key>
<string>{75, 83}</string>
<key>spriteTrimmed</key>
<true/>
<key>textureRect</key>
<string>{{153, 169}, {75, 83}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>version</key>
<string>1.6.0</string>
<key>format</key>
<integer>3</integer>
<key>size</key>
<string>{248, 253}</string>
<key>name</key>
<string>sprite-sheet</string>
<key>textureFileName</key>
<string>sprite-sheet.png</string>
<key>premultipliedAlpha</key>
<false/>
</dict>
</dict>
</plist>
